# macOS system files
.DS_Store

# Node modules
node_modules/

# Logs
*.log
# Environment files
.env
*.sh

# IDE settings
.vscode/

# docs
docs/

# agent and bmad folders
_bmad/*
.**/skills/bmad-*

# Salesforce DX files
.sfdx/*

# build files
bin/*
