# macOS system files
.DS_Store

# Node modules
node_modules/

# Logs
*.log
# Environment files
.env
*.sh

# IDE settings
.vscode/

docs/

# agent and bmad folders
_bmad/*
.agent/skills/bmad-*
.github/skills/bmad-*
.sfdx/*